@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Tailwind CSS */
.form-input {
    @apply block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 text-sm;
}

.btn-indigo {
    @apply inline-flex justify-center w-32 h-12 shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500;
}
.sidebar {
    height: 875px;
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;

}
